{% extends "ControlAulasApp/index.html" %}
{%load static%}
{% block contenido %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/style.css' %}" rel="stylesheet">#}
</head>
<body>


<div class="container-fluid py-4">
    <div class="row">
{#    <div class="col-md-4"></div>#}
        <div class="col-md-6">
        <h2>Descarga de documentos</h2>
            <div class="table-responsive">
                <table id="example" class="table table-striped">
          <thead>
          <tr>
              <th style="background-color: orange">#</th>
              <th style="background-color: orange">Titulo</th>
              <th style="background-color: orange">Descripcion</th>
              <th style="background-color: orange">Archivo</th>
          </tr>

          </thead>
          <tbody>
                  {% for d in entity %}
                      <tr>
                      <td style="background-color: orange">{{ forloop.counter }}</td>
                      <td>{{ d.titulo  }}</td>
                      <td>{{ d.descripcion }}</td>
                      <td><a href="{{d.adminupload.url}}" download ="{{d.adminupload.url}}" class="btn btn-block btn-info"> <i class="bi bi-download"></i> Descargar archivo</a></td>
                      </tr>
          {% endfor %}
          </tbody>
      </table>


            </div>
        </div>
    </div>
</div>

</body>
</html>
{% else %}
        <meta http-equiv="refresh" content="0; url=/" />
    {% endif %}
{% endblock contenido %}