{% extends "ControlAulasApp/index.html" %}
{%load static%}
{% block contenido %}
     {% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ titulo }}</title>

</head>
<body>
<div class="container-fluid py-4">
    <div class="row">
{#    <div class="col-md-4"></div>#}
        <div class="col-lg-offset-2">
        <h2>Estado de las salas</h2>
            <div class="table-responsive">
                <table id="example" class="table table-hover  table-bordered table-secondary">
          <thead>
          <tr>
              <th style="background-color:lightblue">#</th>
              <th style="background-color:lightblue">Nombre de Sala</th>
              <th style="background-color:lightblue">Estado</th>
              <th style="background-color:lightblue">Aforo</th>
              <th style="background-color:lightblue">Sector</th>
          </tr>

          </thead>
          <tbody>
                  {% for n in entity %}
                      <tr>
                      <td style="background-color:lightblue">{{ forloop.counter }}</td>
                      <td>{{ n.nombreSala  }}</td>

                         {% if n.estado == "sin desinfeccion" %}
                             <td style="background-color:indianred"  >{{ n.estado }} </td>
                         {% elif n.estado == "habilitada" %}
                             <td style="background-color:forestgreen">{{ n.estado }} </td>
                         {% elif n.estado == "en curso" %}
                             <td style="background-color:dodgerblue">{{ n.estado }} </td>
                         {% endif %}
                      <td>{{ n.aforo }}</td>
                      <td>{{ n.sector }}</td>
                      </tr>
          {% endfor %}
          </tbody>
      </table>
             <div>
                <td><a href="{% url 'index' %}" class="btn btn-block btn-primary"><i class="bi bi-house-fill"></i> Inicio</a></td>
            </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
    {% else %}
        <meta http-equiv="refresh" content="0; url=/" />
    {% endif %}
{% endblock contenido %}