{% extends "ControlAulasApp/index.html" %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ titulo }}</title>

</head>

<body>

<section class="section">
{#<img src="html/imagenes/prueba.jpg" style="max-width:100%;width:auto;height:auto;">#}
{#<div class="container.container{height: 100%;} py-4 "  >#}
<div class="container-fluid py-4 "  >
    <div class="row">

    <div class="col-lg-5"  >


      <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vista de imagenes</h5>

              <!-- Slides with indicators -->
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/Limpieza.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/seis-pasos.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/seis-pasos.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>

                <button  class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden" >Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div><!-- End Slides with indicators -->

            </div>
          </div>

       </div>
        <!-- Formato tabla de datos -->
        <div class="col-lg-7">
        <h2>Programación semanal de limpieza y desinfección</h2>
            <div class="table-responsive">
                <table id="example" class="table table-hover  table-bordered table-secondary">
          <thead>
          <tr class="table border-dark">
              <th style="background-color: green">#</th>
              <th style="background-color: green">Nombre del personal</th>
              <th style="background-color: green">Sala</th>
              <th style="background-color: green">Dia</th>
              <th style="background-color: green">Hora</th>
              <th style="background-color: green">Observación</th>
              <th colspan="1" style="background-color: green">Opción</th>
          </tr>

          </thead>
          <tbody >
                  {% for h in entity %}
                      <tr class="table border-dark">
                      <td style="background-color: green">{{ forloop.counter }}</td>
                      <td>{{ h.nombre_completo  }}</td>
                      <td>{{ h.asignacion }}</td>
                       <td>{{ h.dia  }}</td>
                       <td>{{ h.hora  }}</td>
                       <td>{{ h.observacion }}</td>
                      <td><a href="{% url 'edicionTabla' h.id %}" class="btn btn-block btn-info"><i class="bi bi-pencil"></i>Editar</a></td>
                      </tr>
          {% endfor %}
          </tbody >
      </table>
                {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                {{ m }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                 {% endfor %}
            {% endif %}

            </div>
         <div>

                <a href="{% url 'index' %}" class="btn btn-block btn-primary"><i class="bi bi-house-fill"></i> Inicio</a>
            </div>
        </div>

    </div>
</div>



</section>
</body>
</html>
{% else %}
        <meta http-equiv="refresh" content="0; url=/" />
    {% endif %}
{% endblock contenido %}