{% extends "ControlAulasApp/index.html" %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ titulo }}</title>
</head>

<body>

<section>
{#<img src="html/imagenes/prueba.jpg" style="max-width:100%;width:auto;height:auto;">#}
{#<div class="container.container{height: 100%;} py-4 "  >#}
<div class="container-fluid py-4 "  >
    <div class="row">
        <div class="col-lg-offset-6  ">
        <h2>Registro de incidencias COVID</h2>
            <div class="table-responsive">
                <table id="example" class="table table-hover table-striped table-bordered table-secondary">
          <thead>
          <tr class="table  border-dark">
              <th style="background-color: cyan">#</th>
              <th style="background-color: cyan">Nombre del Afectado</th>
              <th style="background-color: cyan">Apellidos del Afectado</th>
              <th style="background-color: cyan">Nombre del registrante</th>
              <th style="background-color: cyan">Fecha</th>
             <th style="background-color: cyan">Sala</th>
              <th style="background-color: cyan">Observacion</th>
              <th style="background-color: cyan">Estado</th>
              <th style="background-color: cyan" colspan="1">Opcion</th>
          </tr>

          </thead>
          <tbody>
                  {% for i in entity %}
                      <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.nombreAfectado  }}</td>
                      <td>{{ i.apellidosAfectado }}</td>
                       <td>{{ i.nombre_completo }}</td>
                       <td>{{ i.fecha }}</td>
                       <td>{{ i.nombreSala }}</td>
                          <td>{{ i.descripcionCaso }}</td>
                          <td>{{ i.estado }}</td>
                      <td><a href="{% url 'edicionTablaIncidencia' i.id %}" class="btn btn-block btn-info"><i class="bi bi-pencil"></i>Editar</a></td>

                      </tr>
          {% endfor %}
          </tbody>
      </table>

            <div>
                   <a href="{% url 'agregarIncidencia' %}" class="btn btn-block btn-primary" style="background-color: green"><i class="bi bi-pencil-square"></i> Registrar</a>

            </div>

                {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                {{ m }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                 {% endfor %}
            {% endif %}

            </div>
        <br>
        <div>

                <a href="{% url 'index' %}" class="btn btn-block btn-primary"><i class="bi bi-house-fill"></i> Inicio</a>
            </div>
        </div>
    </div>
</div>


</section>
</body>
</html>
{% else %}
        <meta http-equiv="refresh" content="0; url=/" />
    {% endif %}
{% endblock contenido %}