{% extends "ControlAulasApp/login.html" %}
{% load static %}
{% block content %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<form class="form-signin" method="post">
    {% csrf_token %}
  <img class="mb-4" src="{% static 'img/contrasena.png' %}" alt="" width="600" height="113">
    <h3 align="center" class="h3 mb-3 fa-twitter">Ingrese correo electronico para la recuperacion de contraseña</h3>
  {{ form }}

  <button type="submit">Enviar Email</button>
</H1>
  {% endblock %}

</form>